/* body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f9f9f9;
  } */
  
  .verification-container {
    text-align: center;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .verification h1 {
    font-size: 1.5em;
    margin-bottom: 20px;
  }
  
  .otp-inputs input[type="tel"] {
    width: 200px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .otp-inputs {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  .otp-inputs input {
    width: 40px;
    height: 40px;
    margin: 0 5px;
    font-size: 1.2em;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
  
  .a button {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .a button:hover {
    background-color: #0056b3;
  }